@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

@media (min-width:600px){
.cursor{
    height: 1.5vw;
    width: 1.5vw;
    background-color: rgb(255, 74, 104);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

.cursor-blur{
    height: 10vw;
    width: 10vw;
    background-color: rgb(201, 139, 150);
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}}

.nav{
    height: 10vw;
    width: 100%;
    display: flex;
    gap: 4vw;
    padding: 0 5vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}

.nav h2{
    font-size: 1.85vmax;
}

.nav h4{
    font-weight: 500;
    font-size: 1vmax;
    text-align: center;
}

p{
    font-size: 1vmax;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

.page1 h1{
    font-size: 6vmax;
    font-weight: 900;
    position: relative;
}

.page1 h1::before{
    content: "ARE YOU READY?";
    position: absolute;
    color: rgb(255, 74, 104);
    top: -0.4vw;
    left: -0.4vw;
    -webkit-text-stroke: 1px yellow;
    z-index: -1;
}

.page1 h2{
    font-size: 2.5vmax;
    font-weight: 800;
    margin-top: 1vw;
    margin-bottom: 1.25vw;
}

.page1 p{
    font-size: 1.5vmax;
    font-weight: 400;
    width: 60%;
}

.page1 .arrow{
    height: 8vmax;
    width: 8vmax;
    background-color: transparent;
    border: 2px solid rgb(255, 74, 104);
    position: absolute;
    display: flex;
    left: -2%;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}

.page1 .arrow i{
    font-size: 3vmax;
    font-weight: 900;
}

.page1 .arrow:hover{
    scale: 0.4;
    background-color: rgb(255, 74, 104);
}

.page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

.scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

.scroller::-webkit-scrollbar{
    display: none;
}

.scroller h4{
    margin-top: 3vh;
    display: inline-block;
    font-size: 7vmax;
    font-weight: 900;
    margin-right: 7vw;
    transition: all linear 0.5s;
    color: #ACE022;
}

.scroller h4:hover{
    color: pink;
}

.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.aboutus{
    margin-top: 6vh;
    margin-bottom: 6vh;
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 0 1.5vw;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}

.aboutus img{
    height: 15vmax;
    width: 15vmax;
    border-radius: 1vw;
    object-fit: cover;
}

.aboutusin{
    width: 50%;
    text-align: center;
}

.aboutusin h3{
    font-size: 4vmax;
    font-weight: 800;
    margin-bottom: 1.5vh;
}

.aboutusin p{
    font-size: 1.5vmax;
    line-height: 4vh;
}

@media (max-width:600px)
{
    .aboutus{
        margin-top: 6vh;
        margin-bottom: 7vh;
        height: auto;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .aboutus img{
        height: 100%;
        width: 50%;
    }
    .aboutusin{
        width: 100%;
        height: 55%;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
} 

.cardscontainer{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vmax;
    position: relative;
    z-index: 10;
    padding: 5vh 0;
}

.card{
    height: 90%;
    width: 24%;
    border-radius: 1vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.5s;
}

#card1{
    background-image: url("ian-romie-ona-x6QdZQkuroI-unsplash.jpg");
}

#card2{
    background-image: url("mitchell-luo-1zTxyQ3kMaQ-unsplash.jpg");
}

#card3{
    background-image: url("chris-liverani-oCsaxvGCehM-unsplash.jpg");
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 74, 104);
    padding: 2.5vw;
    padding-top: 5vh;
    opacity: 0;
    transition: all ease 0.5s;
}

.hide h4{
    color: #000;
    font-size: 2.5vmax;
    font-weight: 800;
    text-align: center;
    padding: 2vmax 2vmax;
    white-space: nowrap;
    background-color: #fff;
}

.card:hover .hide{
    height: 0;
    width: 0;
    opacity: 0;
}

.overlay h4{
    color: #000;
    font-size: 2.5vmax;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 2vh;
    padding: 2vmax 0;
}

.overlay p{
    color: #000;
    font-size: 1.25vmax;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(1,1,0,10deg);
}

@media (max-width:600px)
{
    .cardscontainer{
        margin-top: 6vh;
        margin-bottom: 7vh;
        height: auto;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #card1{
        width: 85%;
        height: 33%
    }
    #card2{
        width: 85%;
        height: 33%;
    }
    #card3{
        width: 85%;
        height: 33%;
    }
    .overlay{
        width: 100%;
        padding: 10vh 1vw;
        text-align: center;
    }
}

.colordiv{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colordiv h4{
    width: 50%;
    font-size: 2vmax;
    text-align: center;
    line-height: 2.75vmax;
    font-weight: 800;
}

.colordiv img{
    height: 100%;
    object-fit: cover;
    width: 15%;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page3 p{
    font-size: 2vmax;
    font-weight: 700;
    width: 60%;
    line-height: 3vmax;
    text-align: center;
}

.page3 img{
    position: absolute;
    height: 4vmax;
}

.page3 #colon1{
    left: 15%;
    top: 25%;
}

.page3 #colon2{
    right: 15%;
    bottom: 25%;
}

.page4{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    position: relative;
}

.elem{
    height: 70%;
    width: 25%;
    overflow: hidden;
    border-radius: 1vmax;
    position: relative;
}

.elem h2{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 74, 104);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    color: #000;
    font-weight: 800;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all ease 0.5s;
}

.elem:hover h2{
    color: #fff;
    background-color: transparent;
}

.elem:hover img{
    scale: 1;
}

.page4 h1{
    font-size: 6vmax;
    position: absolute;
    top: -17%;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    -webkit-text-stroke: 2px #fff;
}

@media (max-width:600px)
{
    .page4{
        margin-top: 6vh;
        margin-bottom: 7vh;
        height: auto;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .elem{
        height: 20vh;
        width: 90%;
        margin: 1vh;
    }

    .page4 h1{
        color: #fff;
        font-size: 3vh;
        top: -5%;
    }
}

.footer{
    height: 30vh;
    width: 100%;
    background: linear-gradient(to left bottom, #ACE022, #dee822);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
}

.footer i{
    color: #000;
    font-weight: 500;
}

.footer h2{
    color: #000;
}

